body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: roboto, arial;
}
header{
    background-color: white;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    grid-template-columns: 200px 750px 270px;
    display: grid;
}
.logo-div{
    margin-left: 30px;
}
.web-logo{
    height: 80px;
    width: 170px;
}

.nave-div{
    margin-left: 50px;
}
.header-list{
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}
.header-list li{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 500;
}
.header-list li:hover{
    background-color:orangered;
    color: white;
    font-size: 24px;
}
.header-list a{
    text-decoration: none;
    color: black;
}
.menue-div{
    margin-left: 20px;
    padding-left: 100px;
}
.menue-img{
    height: 60px;
    width: 60px;
    margin-top: 12px;
    margin-left: 200px;
}
.menue-img:hover, .menue-img:focus{
    border: 2px solidorangered;
}
.dropcontent{
   display: none;
   width: 280px;
   height: 400px;
   position: absolute;background-color: rgba(237, 100, 9, 0.492);
}
.menue-list{
    list-style-type: none;
    margin-top: 60px;
    margin-right: 25px;
    vertical-align:text-bottom;
}
.menue-list li{
    color: white;
    margin-top: 30px;
    border: 1px solid white;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(242, 100, 6, 0.519);  
   
}
.menue-list a{
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    display: block;
    position: relative;
}
.show{ 
    display: block;
}


